@import "tailwindcss";

@theme {
  /* Colore Primario (Terracotta / Arancio Caldo Solare) */
  --color-brand-primary: #ea580c;
  --color-brand-hover: #c2410c;
  --color-brand-light: #fff7ed;
  --color-brand-dark: #7c2d12;

  /* Colore Accento (Giallo Caldo Pastéis / Solare) */
  --color-brand-accent: #f59e0b;
  --color-brand-accentHover: #d97706;
  --color-brand-accentLight: #fef3c7;

  /* Sfondi e Superfici */
  --color-brand-surface: #ffffff;
  --color-brand-background: #fdf6ec; /* Tono sabbia/avorio ben visibile */
}